body{
  background-color: rgb(250,250,250);
}

.navLink {
  color: #7c7c7c;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navLink:hover{
  color: #3504bc;
}

.navContainer {
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #DCE1E9;
}

.selectedNav {
  color: #3504bc;
}
.nav-title-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.homeContainer {
  padding: 16px;
}

.home-top-container {
  display: flex;
  padding: 16px;
}

.home-title-container {
  color: #31373E;
}

.home-seperator {
  margin-left: 16px;
  margin-right: 16px;
  border-top: 1px solid #DCE1E9
}

.home-settings-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.home-performance-dropdown {
  margin-left: 8px;
  margin-right: 8px;
  background-color: white;
}